body {
	padding: 0;
	background-color: #a1d5b1;
	text-align: center;
}
.screen {
	width: 420px;
	height: 300px;
	margin: 0 auto;
	position: relative;
	background-image: url("../img/screen.png");
	background-repeat: no-repeat;

	.face {
		position: absolute;
		top: 90px;
		left: 107px;
		width: 204px;
		height: 103px;
		background-image: url("../img/face1.png");
		background-repeat: no-repeat;
	}
}

.buttonBlue {
	$buttonHeight: 20px;
	width: 0; 
	height: 0; 
	border-left: $buttonHeight solid transparent;
	border-right: $buttonHeight solid transparent;
	border-bottom: $buttonHeight solid #79cfdc;
}